h1 {
  font-size: 36px;
  font-family: 'Dosis', sans-serif;
  font-weight: 800;
  color: var(--main-color);
  line-height: 1.2;
}

h2 {
  font-size: 24px;
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  color: var(--main-color);
  line-height: 1.2;
}

h3 {
  font-size: 22px;
  color: var(--main-color);
  line-height: 1.2;
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
}

h4 {
  font-size: 20px;
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  color: var(--main-color);
  line-height: 1.2;
}

h5 {
  font-size: 18px;
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  color: var(--main-color);
  line-height: 1.2;
}

h6 {
  font-size: 16px;
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  color: var(--main-color);
  line-height: 1.2;
}

.t10 {
  font-size: 10px;
  font-family: 'League Spartan', sans-serif;
  font-weight: 500;
  color: var(--text-color);
  line-height: 1.5;
}

.t12 {
  font-size: 12px;
  font-family: 'League Spartan', sans-serif;
  font-weight: 400;
  color: var(--text-color);
  line-height: 1.5;
}

.t16 {
  font-size: 16px;
  font-family: 'League Spartan', sans-serif;
  font-weight: 400;
  color: var(--text-color);
  line-height: 1.5;
}

.t18 {
  font-size: 18px;
  font-family: 'League Spartan', sans-serif;
  font-weight: 400;
  color: var(--text-color);
  line-height: 1.5;
}
