:root {
  // Colors
  --white-color: #fff;
  --text-color: #666e84;
  --main-color: #1e2538;
  --accent-color: #fcc55e;
  --golden-color: #d7bb7b;
  --border-color: #c8cdd9;
  --main-background: #f5fafb;
  --input-background: #fbf8f2;
  --image-background: #dadfe2;

  // Header and bottom bar
  --header-height: 48px;
  --footer-height: 70px;

  // Screen width
  --screen-width: 650px;
}
